.motto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #888;
  font-size: 0.9rem;
  font-style: italic;
  border-radius: 8px;
}

.motto-attribution-nextline {
  text-align: right;
  margin-top: 8px;
  font-weight: normal;
}

.motto-attribution-sameline {
  margin-left: 8px;

  font-weight: normal;
}
